---
layout: default
title: Executive Committee
---

<div class="content-container">
  <div class="page-title">
    <h1> {{ page.title }} </h1>
  </div>
  <ul class="candidate-container">
  {% for member in site.data.committee %}
    <li class="executive-box">
      <h2>{{ member.name }}</h2>
      {% if member.title != null %}
      <h3>{{ member.title }}</h3>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
<div class="meeting">
  <div id="meeting-info">Executive Committee meetings are held every third Thursday of the month at 6:30 p.m. at the Stratton Community Center, 215 Washington Street, Shelbyville, KY. All Democrats are welcome to attend.
  </div>
  <div id="map-container">
    <div id="map"></div>
    <script type="text/javascript">
      var map = L.map('map').setView([38.211, -85.210], 15);

      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 20,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

      var marker = L.marker([38.2119620, -85.2109873]).addTo(map);
      marker.bindPopup("<b>Stratton Community Center</b>").openPopup();

    </script>
  </div>
</div>