header
  +outer-container
  padding-top: 10px
  
  +media($mobile)
    padding: 0
    
.logo
  padding: 10px 15px
  
  img
    float: left
    width: 100px
    
    +media($mobile)
      text-align: center
      width: 50px
    
#partyname
  float: left
  color: $link-color
  font-size: 2vw
  font-family: Montserrat
  padding: 36px 10px
  margin: 0
  
  a:hover
    color: $link-color
  
  +media($mobile)
    font-size: 3.75vw
    padding: 23px 10px