//media queries go from largest to smallest

header
  +outer-container(90%)
  padding: 15px 0

.logo__img
  float: left
  width: 100px

  +media($mobile)
    text-align: center
    width: 50px

.logo__name
  float: left
  color: $link-color
  font-size: 3.75vw
  font-family: Montserrat
  font-weight: bold
  margin: 0

  +media($screen)
    font-size: 1.75vw
    padding: 36px 10px

  +media($tablet)
    padding: 36px 10px

  +media($mobile)
    padding: 17px 10px

#mobile-menu-button
  display: block
  float: right
  margin-top: 4.5%

  +media($screen)
    display: none

#navbar
  float: none
  position: relative
  margin-top: 0
  padding-bottom: 10px
  clear: both

  +media($screen)
    float: right
    position: inherit
    margin-top: 42px
    padding-bottom: 0
    clear: inherit

.nav-menu
  list-style: none
  position: absolute
  float: left
  margin: 0
  padding: 0
  right: 0
  display: none
  background-color: #fff

  &.show
    display: block

  a
    display: block
    text-decoration: none
    font-weight: 700
    line-height: 32px
    padding: 0 15px
    font-size: 16px
    text-transform: uppercase

  +media($screen)
    position: relative
    display: inherit

  +media($tablet)
    width: 100%

  +media($mobile)
    width: 100%

.nav-link
  position: relative
  display: block
  text-align: right
  margin: 0
  padding: 0

  ul
    display: none
    position: static
    top: 100%
    left: 0
    background: #f6f6f6
    padding: 0
    list-style: none

    li
      float: none

    a
      line-height: 120%
      padding: 10px 15px

  +media($screen)
    display: inline-block
    text-align: inherit

    ul
      position: absolute

.nav-link--donate
  padding: 0 10px 10px

  +media($mobile)
    text-align: center
