$primary-blue: #00aef3

$secondary-blue: #0f2446

$primary-color: #F6C
$text-color: $secondary-blue
$accent-color: #BD5248
$bg-color: #FFF
$link-color: $primary-blue
$selection-color: #FFF498

$donate-red: #e31818

/** Social Media Color **/

$twitter-blue: #55acee
$facebook-blue: #3B5998

/** Breakpoints **/

$large-screen: new-breakpoint(min-width 850px 4)

$mobile: new-breakpoint(min-width 0px max-width 849px 4)

$tablet: new-breakpoint(max-width 1300px 4)