<footer>
	<div class="footer__container">

		<div class="footer__column footer__column--contact">
				<h2>Contact Us</h2>
				<p>P.O. Box 1266 <br> Shelbyville, KY 40066</p>
				<p><a href="mailto:shelbycokydems@gmail.com">shelbycokydems@gmail.com</a></p>
		</div>

		<div class="footer__column footer__column--middle">
			<a href="/index.html"><img class="footer__logo" src="/assets/img/shelbylogo-circle.png"></a><br>
			<div class="footer__paidfor">Paid for by the Shelby County Democratic Party</div>
		</div>

		<div class="footer__column footer__column--social">
			<div><a href="https://twitter.com/shelbydemky">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x twittercircle"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span></a>
			</div>
			<div><a href="https://www.facebook.com/ShelbyCoKYDems/">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x facebookcircle"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span></a>
			</div>
		</div>

	</div>
</footer>
