<footer>
	<div class="container">
	
		<div class="footer-column" id="footer-contact">
				<h2>Contact Us</h2>
				<p>Address: </p>
				<p>Email: shelbycokydems@gmail.com</p>
		</div>
	
		<div class="footer-column" id="footer-middle">
			<img src="/assets/img/shelbylogo-circle.png" id="footer-logo"><br>
			<div id="paidfor">Paid for by the Shelby County Democratic Party</div>
		</div>
		
		<div class="footer-column" id="footer-social">
			<div><a href="https://twitter.com/shelbydemky">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x twittercircle"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span></a>
			</div>
			<div><a href="#">
				<span class="fa-stack fa-3x">
					<i class="fa fa-circle fa-stack-2x facebookcircle"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span></a>
			</div>
		</div>
		
	</div>
		
</footer>